[submodule "firmware/qmk_firmware"]
	path = firmware/qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
[submodule "pcbdesign/kbd"]
	path = pcbdesign/kbd
	url = https://github.com/foostan/kbd.git
[submodule "pcbdesign/Keebio-Parts.pretty"]
	path = pcbdesign/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "pcbdesign/usagi.kicad"]
	path = pcbdesign/usagi.kicad
	url = https://github.com/usagi/usagi.kicad
